/* IbyivugoCRUD.css */
.form-container {
  padding: 20px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.table-container {
  border: 1px solid #ccc;
  padding: 20px;
}

.edit-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-right: 5px;
}

.delete-button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
